<div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <div class="row d-flex justify-content-center">
    <div class="col-md-auto text-center border-bottom border-danger opacity-20">

    </div>
  </div>
    <div class="col-12">
        <div class="main_visual"><%= image_tag 'Live_Going.png',class:'main_visual_image' %>
          <h3 class="text text-white-50 text-center" >
             Live Goingは、ライブやコンサートを楽しむ方々の<br>
             ためのホテルレビューサイトです。<br>
             音楽やパフォーマンスを心ゆくまで楽しんだ後、<br>
             快適な宿泊施設を見つけることは非常に重要です。<br>
             私たちはそのような経験を豊かにするために、<br>
             最適なホテル選びをサポートします。
          </h3>
        </div>
    </div>

</div>




<%= link_to "管理画面ログイン", new_admin_session_path, class: "btn font-bold", style: "color: #48120E;"%>


