<div class="container">
  <div class="unsubscribe"></div>
  <div class="row">
    <div class="col text-center p-1", style="color:#48120E;">
      <div class="main_visual"><%= image_tag 'Live_Going.png',class:'main_visual_image' %>
          <h2 class="text"> Thank you for your booking </h2>
      </div>
    </div>
  </div>
</div>